body {
  font-family: Arial;

  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.fakeimg1 {
  background-color: #AAF683;
  border: solid 2px #60D394;
  width: 100%;
  padding: 15px;
}

.fakeimg1:hover {
  background-color: #FF9B85;
  width: 100%;
  padding: 15px;
}

/* Add a card effect for articles */
.card {
  background-color: #FFEDC2;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

  /* margin-left: 20px;
  margin-right: 20px;
  -webkit-margin-collapse: collapse; */
  /* border: solid 3px #ee6055; */
}

.yellow {
  background-color: #FFD97D;
}

.container {
  padding: 10px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.blogs {
  width: 75%;
  margin: auto;
  padding: 40px;
}

.post a:hover{
  color: #AAF683;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.caption {
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  text-align: center;
}